<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Marvel-ous Questions</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      function showCreator(str){
      document.getElementById("question").value = "What comics did " +str+" write?";
      $("#pane").slideUp();
      var xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
      document.getElementById("ans").innerHTML = xhttp.response;
      }
      $("#pane").slideDown();
      document.getElementById("ans").innerHTML = "Loading...";
      xhttp.open("POST","/processq",true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("question=" + encodeURIComponent("What comics did "+str+ " write"));
      }
      function showEvent(str){
      document.getElementById("question").value = "What happened in " +str+"?";
      $("#pane").slideUp();
      var xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
      document.getElementById("ans").innerHTML = xhttp.response;
      }
      $("#pane").slideDown();
      document.getElementById("ans").innerHTML = "Loading...";
      xhttp.open("POST","/processq",true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("question=" + encodeURIComponent("What happened in "+str));
      }
      function showCharacter(str){
      document.getElementById("question").value = "Who is " +str+"?";
      $("#pane").slideUp();
      var xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
      document.getElementById("ans").innerHTML = xhttp.response;

      }
      $("#pane").slideDown();
      document.getElementById("ans").innerHTML = "Loading...";
      xhttp.open("POST","/processq",true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("question=" + encodeURIComponent("Who is "+str));
      }
      function showComic(str){
      document.getElementById("question").value = "Who wrote " +str+"?";
      $("#pane").slideUp();
      var xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
      document.getElementById("ans").innerHTML = xhttp.response;
      }
      $("#pane").slideDown();
      document.getElementById("ans").innerHTML = "Loading...";
      xhttp.open("POST","/processq",true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("question=" + encodeURIComponent("Who wrote "+str));
      }
      function handleClick(){
      $("#pane").slideUp();
      var xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
      document.getElementById("ans").innerHTML = xhttp.response;
      }
      $("#pane").slideDown();
      document.getElementById("ans").innerHTML = "Loading...";
      xhttp.open("POST","/processq",true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("question="+encodeURIComponent(document.getElementById("question").value));
      }
    </script>
  </head>
  <body>
    <div id="main" style="min-width:50%;max-width:50%;">
      <center><h1 style="width:100%;border:solid;padding-left:5px;padding-top:7px;padding-bottom:10px;padding-right:5px;color: rgb(255,255,255);" >Ask Me a Question About Marvel</h1></center><br>
      <form action="javascript:handleClick()"
action="/processq" method="post">
	<input style="padding:10px;width:100%;border-radius:80px;border:3pt solid black;" type="text" id="question"  name="question">
      </form>
      <br>
      <div style="max-width:initial;border: 3pt solid black; width:100%;display: block; overflow-y: scroll;display:none;" id="pane" class="panel panel-default">
	<div class="panel-body" id="ans">
	</div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      $(document).ready(function()
      {
      setInterval(function() {
      var e = $('#main');
      var positionTop = e.position().top; 
      if(positionTop<=0) {
      e.offset({top:0});
      }
      else {
      e.css('top', "50%");
			 }
			 },50);
			 });
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
