html {
    word-spacing: 3px;
}

body {
    background-color: rgb(220, 20, 60);
}
@font-face {
    font-family: Bebas;
    src: url('/static/fonts/bebas.ttf');
}
@font-face{
    font-family: Comic;
    src: url('/static/fonts/comic.ttf');
}
#main {
  font-family: Bebas;
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}   
#ans{
    font-family: Comic;
}
input{
    font-family:Comic;
    font-size:1.5em;
}
*:focus {
    outline: none;
    box-shadow: 0 0 0 4pt black;
}